body{
	background-color:#4DB6AC;
	top: 400px;
	position: relative;
	font-family: 'Josefin Slab', serif;
	font-weight:580;
}
header {
	height: 100px;
	background: #009688;
	position: fixed;
	width: 100%;
	z-index: 10;
}
h1 {text-align:center;}
p {text-align:center;}